<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hostco">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HostCo">
        <activity android:name=".HospitalGetRequestActivity"></activity>
        <activity android:name=".UserSendRequestActivity" />
        <activity android:name=".UserTypeSelectorActivity" />
        <activity android:name=".EditInfoHospitalActivity" />
        <activity android:name=".MainHospitalActivity"
            android:noHistory="true"/>
        <activity android:name=".UserHistoryActivity"
            android:noHistory="true"/>
        <activity android:name=".CovidTestActivity" />
        <activity android:name=".HospitalHistoryActivity"
            android:noHistory="true"/>
        <activity android:name=".EditInfoUserActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".MainUserActivity"
            android:noHistory="true"/>
        <activity android:name=".RegisterUserActivity" />
        <activity android:name=".RegisterHospitalActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogInActivity" />
        <activity android:name=".StartActivity" />
    </application>

</manifest>